html, body {
	margin: 0; 
	padding: 0; 
	overflow: auto;
}
body { 
    background: #f2f2f2; 
    font-family: Arial; 
    font-size: 13px; 
    line-height: 1.6; 
    color: #444; 
} 
#dina4 {
    width: 210mm;
    height: 297mm;
    /*padding: 20px 60px; */
    border: 1px solid #D2D2D2; 
    background: black;
    margin: 10px auto;
}

article.datos{
    display: inline-block;
    padding: 0 30px;
    width: 49.9%;
    padding-bottom: 25px;
}

article.conocimientos{
    float: right;
    width: 36.3%;
    background: white;
    height: 76.85%;
    padding: 0 27px 25px 20px;
    border-left: 2px solid #afafaf;
}

header{
    height: 18%;
    padding: 20px;
    padding-bottom: 12px;    
}

header .nombre, .foto{
    display: inline-block;
}

header .nombre{
    width: 50%;
    padding: 10px 30px;
}

header h1{
    font-size: 60px;
    margin: 0;
    color: white;
    letter-spacing: 15px;
    font-family: fantasy;
    text-align: center;
    text-shadow: 3px 3px 0px #1c75cc; 
}

header h2{
    color: dodgerblue;
    margin: 0;
    line-height: 0.5;
    text-indent: 25%;
    font-size: 25px;
}

header .foto{
    float: right;
    padding: 20px;
    width: 36%;
    text-align: center;
}

header img{
    padding: 5px;
    background: white;
}


.datos h3, .conocimientos h3{
    background: dodgerblue;
    padding: 4px 10px;
    border-radius: 5px;  
    color: white;
    text-shadow: 2px 1px 0px black;
    font-size: 18px;  
}

.centro-ed, .carrera-ed, .fecha {
    width: 140px;
    padding-top: 5px;
    padding-left: 5px;
    border-top: 1px solid;
    border-left: 1px solid;
    font-size: 10px;
    color: white;
    border-color: dodgerblue;
}

.basico{
    padding: 15px;
    color: white;
    font-size: 10px;
    max-width: 250px;
    margin: auto;    
}

.basico .dato {
    margin: 0;
    display: inline-block;
    padding-left: 10px;
}

.parDato {
    line-height: 1.35;
}

.lugar-ed{
    padding: 6px;
}

.datos h4{
    margin:0;
}

.carrera-ed{
    margin: auto;
}

.fecha{
    margin-left: auto;
}

.conten-port {
    padding: 0 10px;
    color: white;
}

.conten-port h4{
    margin: 0;
    background: linear-gradient(to right, rgba(30, 144, 255, 0.6) 50%, black);
    border-radius: 3px;
    padding-left: 10px;
}

.duo-port p{
    margin: 5px 0px 5px 95px;
}

h4.titulo-det {
    display: inline-block;
}

.detalles{
    color: white;
    font-size: 12px;
}

.detalles p{
    margin: 0 0 0 35px;
}

.par-hab{
    position: relative;
}

.titl-hab, .descr-hab{
    display: inline-block;
}

.titl-hab{
    width: 90px;
    background: black;
    color: white;
    border-radius: 5px;
    padding: 5px 15px;
    line-height: 2;
    font-size: 12px;
}

.descr-hab{
    padding-top: 3px;
    padding-left: 10px;
    font-size: 13px;
    position: absolute;
    line-height: 1;
    text-align: justify;
}

.conocimientos span{
    float: right;
    font-style: normal;
    color: black;
    letter-spacing: normal;
    text-shadow: 0 0 0;
}

.barraH,.barraC,.barraB,.barraJ,.barraQ,.barraS{
    border: 2.3px;
    border-radius: 10px;
    padding:0 20px;
    border-style: outset; 
    font-style: italic;
    font-weight: bolder;
    letter-spacing: 3px;
    color: white;
    text-shadow: 1px 1px 1px black; 
}

.barraH {
    background: linear-gradient(135deg, #007eff 70%, white 10px);
}

.barraC{
    background: linear-gradient(135deg, #007eff 60%, white 10px);    
}

.barraB{
    background: linear-gradient(135deg, #007eff 60%, white 10px);    
}

.barraJ{
    background: linear-gradient(135deg, #007eff 50%, white 10px);    
}

.barraQ{
    background: linear-gradient(135deg, #007eff 50%, white 10px);    
}

.barraS{
    background: linear-gradient(135deg, #007eff 50%, white 10px);    
}
